@font-face { font-family: Aquire; src: url('font/Aquire.otf'); }

h1{
  font-family: Aquire;
  font-size: 40px;
}

img {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
  max-height: 40px;
  width: auto;
}

#logopicture{
  height: 40px;
}

#logotext{
  height: 40px;
}
