@font-face { font-family: Aquire; src: url('font/Aquire.otf'); }

h1{
  font-family: Aquire;
  font-size: 10vh;
  display: inline-block;
  padding-left: 6vw;
  vertical-align:middle; 
}

img {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
  height: 15vh;
  width: auto;
  display: inline-block;
}
