<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script> 
    $(function(){
      $("#banner").load("components/header/banner.html"); 
    });
    </script>
    <script> 
    $(function(){
      $("#navigation").load("components/header/navigation.html"); 
    });
    </script>
    
  </head>
  <body>
    <div id="banner" style="display: inline-block;"></div>
    <div class="movecard" style="display: inline-block;">
      <div id="navigation" style="display: inline-block;   padding-left: 12vw;"></div>
    </div>
  </body>
</html>
